body{
    margin: 0;
    padding: 0;
    background: url(img/background.bmp);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.registerbox{
    width: 320px;
    height: 480px;
    background: url(img/background_box.bmp);    
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 80px 40px;
}

.registerbox h1{       
    outline: none;
    height: 35px;
    color: #000000;
    font-size: 14px;      
}

.registerbox input{
    width: 100%;
    margin-bottom: 15px;
}

.registerbox input[type="text"], input[type="password"], input[type="email"]
{
    border: none;
    border-bottom: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;        
    outline: none;
    height: 35px;
    color: #000000;
    font-size: 14px;    
    
}

.registerbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #546cf3;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}





